body {
    background: blue;
  }
  body {
    background-image: url('https://images.unsplash.com/photo-1447433553548-2fc162393482?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=539&q=80');
    background-repeat: no-repeat;
    background-size: cover;
    color: #FFFFFF;
}
.description {
	left: 50%;
	position: absolute;
	top: 45%;
	transform: translate(-50%, -55%);
	text-align: center;
    font-size: 4svw;

}
.description h1 {
	color: #fff;
}
.description p {
	color: #fff;
	font-size: 1.3rem;
	line-height: 1.5;
}
.container {
    display: inline-block;
    cursor: pointer;
  }
  
/*menu icon*/
  .bar1, .bar2, .bar3 {
    width: 27px;
    height: 2px;
    background-color: #fff;
    margin: 6px 0;
    transition: 0.4s;
  }
  
  /* Rotate first bar */
  .change .bar1 {
    transform: translate(0, 11px) rotate(-45deg);
  }
  
  /* Fade out the second bar */
  .change .bar2 {opacity: 0;}
  
  /* Rotate last bar */
  .change .bar3 {
    transform: translate(0, -11px) rotate(45deg);
  }
  