body {
    background: black;
  }
.description {
	left: 50%;
	position: absolute;
	top: 45%;
	transform: translate(-50%, -55%);
	text-align: center;
    font-size: 4svw;

}
.description h1 {
	color: #fff;
}
.description p {
	color: #fff;
	font-size: 1.3rem;
	line-height: 1.5;
}

  footer {
    text-align: center;
    padding: 60px;
    background-color:;
    color: white;
    bottom: 0;
  }
/* start */
body {
  font: 100% Roboto, sans-serif;
  background-color:#000;
  background-size: cover;
  padding: 5px;
  margin: 0px;
  margin-left: 0%;
}

nav {
  width: 200px;
  background: white;
  color: rgba(0, 0, 0, 0.87);
  -webkit-clip-path: circle(20px at 26px 20px);
  clip-path: circle(11px at 30px 23px);
  -webkit-transition: -webkit-clip-path 0.5625s, clip-path 0.375s;
  transition: -webkit-clip-path 0.5625s, clip-path 0.375s;
  margin-left: 80%;
  padding: 0px;
}

nav:hover {
  -webkit-transition-timing-function: ease-out;
  transition-timing-function: ease-out;
  -webkit-transition-duration: 0.75s;
  transition-duration: 0.75s;
  -webkit-clip-path: circle(390px at 225px 24px);
  clip-path: circle(390px at 150px 24px);
}

a {
  display: block;
  line-height: 50px;
  padding: 0 20px;
  color: inherit;
  cursor: pointer;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

a:hover { background: rgb(126, 124, 124) }

a:active { background: #b4b2b2; }

.navicon {
  padding: 23px 20px;
  cursor: pointer;
  -webkit-transform-origin: 32px 24px;
  -ms-transform-origin: 32px 24px;
  transform-origin: 32px 24px;
}

.navicon div {
  position: relative;
  width: 20px;
  height: 2px;
  background: rgba(0, 0, 0, 0.87);
}

.navicon div:before,
.navicon div:after {
  display: block;
  content: "";
  width: 20px;
  height: 2px;
  background: rgba(0, 0, 0, 0.87);
  position: absolute;
}

.navicon div:before { top: -7px; }

.navicon div:after { top: 7px; }

#pic{
  margin-left: 0%;
}